<h2>New Game</h2>
<div class="d-flex justify-content-evenly fs-1">
  <% @letters.each do |letter| %>
    <div class="rounded p-3 border-3 bg-warning text-light">
    <%= letter %>
    </div>
  <% end %>
</div>
<p><%= 'What is the longest word you cand find?' %>
<form action="/score" data-turbo="false" method="post">
    <input type="text" name="word">
    <input type="submit" value="Play" class='btn btn-primary'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
